---
InlayHints:
  Enabled: true
  BlockEnd: false
  Designators: false
  ParameterNames: false
  DeducedTypes: false
  DefaultArguments: false
  TypeNameLimit: 24

---
If:
  PathMatch: ".*\\.(c|h)$"
CompileFlags:
  Add: [-std=c23]
