[submodule "vendor/flanterm/upstream"]
	path = vendor/flanterm/upstream
	url = https://github.com/Mintsuki/Flanterm
[submodule "vendor/limine/bin"]
	path = vendor/limine/bin
	url = https://github.com/limine-bootloader/limine
[submodule "vendor/limine/protocol"]
	path = vendor/limine/protocol
	url = https://github.com/limine-bootloader/limine-protocol
